.forSize {
  height: 110vh;
  background-color: lightgreen;
}

.workspace {
  background-color: black;
  margin: auto;
  height: 700px;
  position: relative;
}

.mainUl {
  position: absolute;
  top: 40px;
  left: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dropUl {
  margin: 0;
  padding: 0;
}

.tooltip {
  color: #fff;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, .5);
}

.btnX, .btnY, .btnScroll {
  position: fixed;
  top: 0;
  left: 0;
}

.btnY {
  right: 0;
  left: auto;
}

.btnScroll {
  left: 50%;
  transform: translateX(-50%);
}

ul {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.first, .second {
  box-sizing: content-box;
}

.first {
  border: 2px solid purple;
}

.second {
  border: 2px solid orange;
}
