<div class="forSize">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores ex ipsum laborum
  provident rerum, soluta veritatis voluptatem. Dolore, eveniet.
</div>
<div class="workspace">
  <ul class="mainUl">
    <li>
      <button #trigger1 (click)="menuToggle()">lorem 1</button>
    </li>
    <li>
      <button #trigger2 (mouseenter)="tooltipOpen()" (mouseleave)="tooltipClose()">lorem 2</button>
    </li>
    <li>
      <button>lorem 3</button>
    </li>
    <li>
      <button>lorem 4</button>
    </li>
    <li>
      <button>lorem 5</button>
    </li>
    <li>
      <button>lorem 6</button>
    </li>
  </ul>
</div>
<div class="forSize">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores ex ipsum laborum
  provident rerum, soluta veritatis voluptatem. Dolore, eveniet.
</div>


  <ul class="dropUl first" #dropMenu>
    <li>
      <button>ipsum 1</button>
    </li>
    <li>
      <button>ipsum 2</button>
    </li>
    <li>
      <button (click)="menu2Toggle()" #trigger3>ipsum 3</button>
    </li>
    <li>
      <button>ipsum 4</button>
    </li>
    <li>
      <button>ipsum 5</button>
    </li>
    <li>
      <button>ipsum 6</button>
    </li>
    <li>
      <button>ipsum 7</button>
    </li>
  </ul>

  <ul class="dropUl second" #dropMenu2>
    <li>
      <button>ipsum 1</button>
    </li>
    <li>
      <button>ipsum 2</button>
    </li>
    <li>
      <button>ipsum 3</button>
    </li>
    <li>
      <button>ipsum 4</button>
    </li>
  </ul>

  <p class="tooltip" #tooltip>Lorem ipsum dolor.</p>

<button class="btnX" (click)="toggleX()">{{x}}</button>
<button class="btnY"(click)="toggleY()">{{y}}</button>
<button class="btnScroll"(click)="toggleScroll()">{{scroll}}</button>
